Repository hbschlac/muse-shopping: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Add deployment guide with demo links
  DEPLOYMENT_GUIDE.md
Due: prettier --write

Temporarily remove CI workflow (will re-add via GitHub web UI)
  .github/workflows/ci.yml
Due: none

Fix welcome page issues
  frontend/app/welcome/email/page.tsx
Due: eslint --fix

Add review system and enhanced UI components from CODEX
  Brand Guidelines.docx
  admin/admin.css
  admin/index.html
  docs/review_ingestion.md
  package.json
  public/chat.css
  public/chat.html
  public/chat.js
  public/inspiration.css
  public/inspiration.html
  public/muse-icon.png
  public/muse-logo.png
  public/muse-ui.css
  public/muse-ui.html
  public/pdp.css
  public/pdp.html
  public/pdp.js
  public/reviews.html
  public/reviews.js
  removed-background.png
  removed-background.svg
  src/app.js
  src/controllers/itemController.js
  src/db/migrations/008_item_reviews.sql
  src/db/migrations/009_review_helpful.sql
  src/db/migrations/010_review_reports.sql
  src/jobs/reviewIngestionJob.js
  src/jobs/reviewIngestionScheduler.js
  src/routes/admin/reviews.js
  src/routes/index.js
  src/routes/itemRoutes.js
  src/services/itemService.js
  src/services/reviewIngestionService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Enhance chat service with personalized recommendation mode
  src/services/chatRetrievalService.js
  src/services/chatService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Implement UI/UX improvements based on user feedback
  frontend/app/auth/google/callback/page.tsx
  frontend/components/Newsfeed.tsx
  frontend/components/TabbedRecommendationModule.tsx
Due: eslint --fix

Update welcome page to use correct Muse gradient wordmark
  frontend/app/welcome/page.tsx
  frontend/public/muse-wordmark-gradient.svg
Due: eslint --fix

Update newsfeed to use Muse gradient wordmark
  frontend/components/Newsfeed.tsx
Due: eslint --fix

Fix colors to match official brand kit
  frontend/components/Newsfeed.tsx
Due: eslint --fix

Update chat interface and fix module display issues
  frontend/components/Newsfeed.tsx
  frontend/components/TabbedRecommendationModule.tsx
Due: eslint --fix

Remove chat bubble icon and fix placeholder text
  frontend/components/Newsfeed.tsx
Due: eslint --fix

Fix newsfeed error message blocking module display
  frontend/components/Newsfeed.tsx
Due: eslint --fix

feat: Implement 100-dimensional customer profiling system
  100D_FULL_INTEGRATION_COMPLETE.md
  100D_INTEGRATION_STATUS.md
  100D_SYSTEM_ACTIVATED.md
  LAUNCH_COMPLETE.md
  STYLE_PROFILE_EXPANSION_SUMMARY.md
  docs/100D_UNIQUE_PROFILES_CALCULATION.md
  docs/PATH_TO_100_DIMENSIONS.md
  docs/STYLE_PROFILE_16_DIMENSIONS.md
  migrations/025_expand_style_profile_dimensions.sql
  migrations/026_expand_to_100_dimensions.sql
  src/services/chatPreferenceIngestionService.js
  src/services/newsfeedService.js
  src/services/styleProfileService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Fix chat demo reliability and initialize personalization at signup
  frontend/app/chat/page.tsx
  frontend/lib/api/chat.ts
  public/chat.html
  public/chat.js
  src/controllers/chatController.js
  src/routes/chatRoutes.js
  src/services/authService.js
  src/services/chatService.js
  src/services/personalizedRecommendationService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Stabilize security tests with unique per-run users
  tests/security.test.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Add admin password change and email notification features
  src/controllers/adminSignupController.js
  src/middleware/validation.js
  src/routes/feedbackRoutes.js
  src/routes/index.js
  src/services/userService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Fix broken CTAs, deploy Next.js frontend, clean up prod for shareable launch
  PRODUCTION_DEPLOYMENT_COMPLETE_v2.md
  README.md
  api/index.js
  frontend/app/bloomingdales/page.tsx
  frontend/app/cart/page.tsx
  frontend/app/discover/page.tsx
  frontend/app/feedback/page.tsx
  frontend/app/globals.css
  frontend/app/nordstrom/page.tsx
  frontend/app/oauth/callback/page.tsx
  frontend/app/onboarding/start/page.tsx
  frontend/app/profile/settings/delete-account/page.tsx
  frontend/app/profile/settings/password/page.tsx
  frontend/app/ruelala/page.tsx
  frontend/app/scoop/page.tsx
  frontend/app/welcome/email/page.tsx
  frontend/components/BottomNav.tsx
  frontend/components/Newsfeed.tsx
  frontend/components/PageHeader.tsx
  frontend/jest.config.js
  frontend/lib/api/client.ts
  frontend/next.config.ts
  package.json
  public/auth.html
  public/css/design-tokens.css
  public/index.html
  public/muse-wordmark-gradient.svg
  public/muse-wordmark.svg
  tests/appleAuth.test.js
  tests/waitlist.test.js
  vercel.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Fix product page crash, story navigation, hero CTAs, and dynamic routes
  frontend/app/product/[id]/page.tsx
  frontend/app/stories/[id]/page.tsx
  frontend/components/Newsfeed.tsx
  src/services/emailService.js
  vercel.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Add brands/[slug] page and backend slug endpoint
  frontend/app/brands/[slug]/page.tsx
  src/controllers/brandController.js
  src/routes/brandRoutes.js
  vercel.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Add auto build-log workflow
  .github/workflows/log-to-build-log.yml
Due: none

fix: correct BrandLogo props on brands slug page
  frontend/app/brands/[slug]/page.tsx
Due: eslint --fix

Add Claude session status handoff doc
  CLAUDE_SESSION_STATUS.md
Due: prettier --write

fix(auth): handle OAuth-only accounts + set trust proxy for Vercel
  src/app.js
  src/services/authService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(auth): set trust proxy in Vercel serverless entry too
  api/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(auth): mount errorHandler middleware in Vercel serverless entry
  api/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(auth): read backend envelope correctly in frontend API client
  frontend/lib/api/auth.ts
  frontend/lib/api/client.ts
Due: eslint --fix

fix(auth): trim Google OAuth env vars at read-site
  src/services/googleAuthService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(auth): point Google redirect at www.muse.shopping; remove Apple button
  frontend/app/auth/login/page.tsx
  src/services/googleAuthService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

debug(auth): include err.message in 500 response body
  src/middleware/errorHandler.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(auth): survive missing privacy_consent column on register
  src/models/User.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

vibe-improver: add PR test gate workflow
  .github/workflows/pr-tests.yml
Due: none

Allow Composio connector tools in cloud sessions
  .claude/settings.json
Due: prettier --write

Allow Composio connector tools in cloud sessions (#2)
  .claude/settings.json
Due: prettier --write
